/* Main */
:root {
    --subtitle-font-size: 2.7vmin; 
    --subtitle-content-padding: 2vmin;
    --section-padding: 5vmin;
    --paragraph-line-height: 2.5vmin;
    --paragraph-letter-spacing: 0.02vmin;
    --paragraph-font-size: 2vmin;
    --code-font-size: 1.6vmin;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 85%;
    margin: auto auto;
    background-color: #e1f9ff;
    font-family: Calibri, sans-serif;
}


/* Navigation */
#nav {
    display: flex;
    margin-top: 1em;
    justify-content: end;
    width: 100%;
}

#nav .button {
    margin-left: 0.5vmin;
}
  

/* Introduction */
#intro {
    text-align: center;
    padding: 2vmin;
}

.profile img {
border-radius: 50%;
width: 17vmin;
height: 17vmin;
}

#intro p {
    font-size: var(--paragraph-font-size);
}


/* About Me */
#about {
    margin: 0 auto;
}

#about-title {
    font-weight: bold;
    font-size: var(--subtitle-font-size);
    margin-bottom: var(--subtitle-content-padding);
}

#about-content {
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    padding: 3vmin;
    border-radius: 5px;
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing);
    font-size: var(--paragraph-font-size);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


/* Projects */
#projects-title {
    font-weight: bold;
    font-size: var(--subtitle-font-size);
    margin-bottom: var(--subtitle-content-padding);
    margin-top: var(--section-padding);
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}


/* Box Elements For Projects & Experiences*/
article {
width: 45%;
margin-bottom: 6vmin;
background-color: #f9f9f9;
padding: 2vmin;
border: 0.2vmin solid #ddd;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-radius: 1.5vmin;
display: flex;
flex-direction: column;
line-height: var(--paragraph-line-height);
letter-spacing: var(--paragraph-letter-spacing);
}

article h2 {
margin-top: 0;
}

article p {
margin-bottom: 20px;
}

article img {
    border-radius: 1vmin;
    height: auto;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.button-and-codes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vmin;
}

.code code {
    background-color: rgb(255, 239, 98);
    padding: 0.3vmin 0.5vmin;
    border: 0.1vmin solid black;
    font-size: var(--code-font-size);
}

.what-i-did {
    font-weight: bold;
    margin-bottom: 0.5vmin;
    margin-top: 1vmin;
}

article .content {
    margin-top: auto;
}

#nome-project {
    margin-top: 12vmin;
}


/* Completed Courses */
#completed-courses {
    margin: auto auto;
}

#completed-courses-title {
    font-weight: bold;
    font-size: var(--subtitle-font-size);
    margin-bottom: var(--subtitle-content-padding);
}

#completed-courses-content {
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    padding: 3vmin;
    border-radius: 5px;
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing);

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.list-container {
    padding: 0 10px;
    box-sizing: border-box;
    max-width: 50%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding-left: 35px;
}

li.umich {
    background: url('../images/umich.jpg') no-repeat left center;
    background-size: 2vmin 2vmin;
}
  
li.nmc {
    background: url('../images/nmc.jpg') no-repeat left center;
    background-size: 2vmin 2vmin;
}


/* Buttons */
.button {
    text-decoration: none;
    display: inline-block;
    padding: 1vmin 3vmin;
    background-color: #25d3ff; /* #2196F3 */
    color: #fff;
    border-radius: 3px;
    transition: background-color 0.1s ease-in-out;
}

.button:hover {
    background-color: #20b6db; /* #0c7cd5 */
    cursor: pointer;
}

.button:active {
    background-color: #1a90ad;
}

.button-link {
    text-decoration: none;
    color: inherit;
}

.button-link:hover {
    text-decoration: underline;
}

/* Experiences */
#experiences-title {
    font-weight: bold;
    font-size: var(--subtitle-font-size);
    margin-bottom: var(--subtitle-content-padding);
    margin-top: var(--section-padding);
}

#experiences-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mpowered {
    background-color: rgb(0, 0, 0);
}

#elp {
    width: 75%;
    padding: 1vmin;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#nome {
    width: 40%;
    padding: 1vmin;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


/* Raise When Hovered */



/* Responsive */
@media(max-width: 950px) {
    #projects {
        display: block;
        margin: auto auto;
    }
    article {
        width: 95%;
        line-height: 4vmin;
    }
}

@media(max-width: 1136px) {
    #completed-courses-content {
        flex-direction: column;
    }
    .list-container {
        max-width: 100%;
    }
    ul {
        margin-bottom: 2vmin;
        line-height: 4vmin;
    }
    li.umich {
        background-size: 3vmin 3vmin;
    }
      
    li.nmc {
        background-size: 3vmin 3vmin;
    }
}

